<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Study Blog</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Study Blog</a></h1>
    </header>
    <article>
      <time datetime="">published: 24.07.2025, 12:14</time>
      <h2><a href="">My first post</a></h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non deserunt
        et sed ipsam cumque, officia quam provident. Nemo nihil provident minima
        distinctio, debitis deleniti modi.
      </p>
    </article>
    <article>
      <time datetime="">published: 25.07.2025, 12:00</time>
      <h2><a href="">My second post</a></h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos
        pariatur libero non nihil, fugiat sit neque molestiae accusamus, aliquid
        dicta voluptatem itaque consequuntur eius perspiciatis.
      </p>
    </article>
  </body>
</html>
